.body {
  background-image: url(https://osten.vercel.app/images/index/about.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}
.modern {
  color: white;
  font-size: 60px;
  font-weight: 900;
  height: 72px;
  line-height: 72px;
}
.big {
  color: white;
  font-weight: bolder;
  font-size: 22px;
  font-weight: 900;
  height: 72px;
  line-height: 72px;
}
.container1 {
  padding: 200px 50px 100px 50px;
}
.container2 {
  background-color: white;
  height: 900px;
}
.img1 {
  height: 418px;
  width: 100%;
}
.img2 {
  width: 100%;
  height: 180px;
}
.img3 {
  width: 100%;
  height: 314px;
}
ul {
  list-style-type: disc;
  display: block;
}
col,
p {
  font-size: 18px;
  line-height: 27px;
}
.imgcar {
  height: 100px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kontainer3 {
  margin-top: 1000px;
  margin-bottom: 100px;
}
.cardimg {
  height: 370px;
  width: 281px;
  border-radius: 20px;
  overflow: hidden;
}
.card {
  border-radius: 50px !important;
}
.cfooter {
  background-color: #08142d;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: -10px;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 293px;
}
