.logo {
  height: 40px;
}
ul {
  list-style-type: none;
  display: flex;
}
.Link {
  text-decoration: none;
}
.Router {
  background-color: rgba(155, 179, 199, 0.726);
}

.about {
  background-image: url(https://osten.vercel.app/images/index/about.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}
